@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@-webkit-keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@-webkit-keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@-webkit-keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@-webkit-keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

header {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

header nav {
  max-width: 1100px;
  height: 9rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}

header nav .logo {
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

header nav .logo span {
  font-weight: 700;
}

header nav ul {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  margin: 0 0 0 3rem;
}

header nav ul .nav-link {
  cursor: pointer;
}

header nav ul .nav-link .link {
  padding: .5rem 1rem;
}

header nav ul .nav-link .link:visited {
  color: white;
}

header nav ul .nav-link .link:hover {
  border-bottom: 2px solid white;
}

header nav ul .active {
  border-bottom: 2px solid white;
}

header nav ul .theme-toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul .theme-toggle-container .theme-text {
  font-size: 1.2rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

header nav ul .theme-toggle-container .theme-text:first-child {
  margin-left: 3rem;
}

header nav ul .theme-toggle-container .theme-toggle {
  margin: 0 1rem;
  width: 2.6rem;
  height: 1.8rem;
  padding: .25rem;
  background-color: #FFF;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

header nav ul .theme-toggle-container .theme-toggle .theme-toggle-circle {
  width: 1.3rem;
  height: 1.3rem;
  position: relative;
  left: 0;
  border-radius: .9rem;
  background-color: #3F8EC0;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.landpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20rem;
  margin: 0 0 8rem 0;
}

.landpage > div:first-child {
  width: 45%;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landpage > div:first-child h1 {
  position: relative;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.landpage > div:first-child p {
  font-size: 2.4rem;
  line-height: 2.8rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.landpage > div:first-child p:nth-child(2) {
  font-weight: 500;
  margin-bottom: 1rem;
}

.landpage > div:first-child p a {
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.landpage .landpage-image-container {
  width: 50%;
  position: relative;
}

.landpage .landpage-image-container .svg-blob-back svg {
  position: relative;
  bottom: 5rem;
  left: 3rem;
}

.landpage .landpage-image-container .svg-blob-back svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.landpage .landpage-image-container .svg-blob-front svg {
  position: absolute;
  top: 8rem;
  right: -2rem;
}

.landpage .landpage-image-container .svg-blob-front svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.landpage .landpage-image-container .svg-man svg {
  bottom: 16.5rem;
  left: 25rem;
  position: absolute;
}

.landpage .landpage-image-container .svg-man svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.landpage .landpage-image-container .svg-woman svg {
  bottom: 15rem;
  right: 20rem;
  position: absolute;
}

.landpage .landpage-image-container .svg-woman svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.global-tab-container {
  -webkit-transition: border-bottom 0.2s linear;
  transition: border-bottom 0.2s linear;
}

.global-tab-container .global-tab {
  width: 31rem;
  padding: 1rem 0;
  border-radius: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-tab-container .global-tab h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.global-stats-container {
  margin: 4rem 0;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.global-stats .global-stats-title {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.global-stats .global-stats-today {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: .3rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.global-stats .global-stats-yesterday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.global-stats .global-stats-yesterday .global-stats-plus-cases {
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: .2rem;
  padding: .3rem .5rem;
  margin-right: .5rem;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.global-stats .global-stats-yesterday p {
  font-weight: 500;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.cssload-spin-box {
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
  -o-box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
  -ms-box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
  -webkit-box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
  -moz-box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
  animation: cssload-spin ease infinite 4.6s;
  -o-animation: cssload-spin ease infinite 4.6s;
  -ms-animation: cssload-spin ease infinite 4.6s;
  -webkit-animation: cssload-spin ease infinite 4.6s;
  -moz-animation: cssload-spin ease infinite 4.6s;
}

@keyframes cssload-spin {
  0%,
  100% {
    -webkit-box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
            box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
  }
  25% {
    -webkit-box-shadow: -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89;
            box-shadow: -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89;
  }
  50% {
    -webkit-box-shadow: -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1;
            box-shadow: -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1;
  }
  75% {
    -webkit-box-shadow: 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89;
            box-shadow: 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89;
  }
}

@-webkit-keyframes cssload-spin {
  0%,
  100% {
    -webkit-box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
            box-shadow: 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1;
  }
  25% {
    -webkit-box-shadow: -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89;
            box-shadow: -10px 10px #84C6F1, -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89;
  }
  50% {
    -webkit-box-shadow: -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1;
            box-shadow: -10px -10px #115A89, 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1;
  }
  75% {
    -webkit-box-shadow: 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89;
            box-shadow: 10px -10px #84C6F1, 10px 10px #115A89, -10px 10px #84C6F1, -10px -10px #115A89;
  }
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.search-container {
  margin: 10rem 0 5rem 0;
  width: 100%;
  padding: 1.6rem 3rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

.search-container .icon svg {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.search-container form {
  margin: 0 3rem;
  width: 100%;
  justify-self: flex-start;
}

.search-container form input {
  width: 80%;
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 2rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .white-placeholder::-webkit-input-placeholder {
  color: #FFF;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .white-placeholder:-ms-input-placeholder {
  color: #FFF;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .white-placeholder::-ms-input-placeholder {
  color: #FFF;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .white-placeholder::placeholder {
  color: #FFF;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .gray-placeholder::-webkit-input-placeholder {
  color: #C8C8C8;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .gray-placeholder:-ms-input-placeholder {
  color: #C8C8C8;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .gray-placeholder::-ms-input-placeholder {
  color: #C8C8C8;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .gray-placeholder::placeholder {
  color: #C8C8C8;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.search-container .clear-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  padding: .8rem 1.3rem;
  border-radius: .3rem;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search-container .opacity {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.table-container {
  padding: 0 0 5rem 0;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.table-line-container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.table-line-container div {
  font-size: 1.8rem;
  font-weight: 500;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.table-line-container .number {
  width: 5%;
}

.table-line-container .country {
  width: 25%;
}

.table-line-container .active,
.table-line-container .recovered,
.table-line-container .deaths,
.table-line-container .total-cases {
  width: calc(70% / 4);
  padding: 0 1.5rem;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.table-list .table-line-container {
  height: 8rem;
  margin: 1rem 0;
}

.table-list .table-line-container:first-child {
  margin: 3rem 0 0 0;
}

.table-list div {
  font-size: 1.6rem;
}

.table-list .flag-name-container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-list .flag-name-container img {
  width: 3.5rem;
  height: 2.4rem;
  margin-right: 1.5rem;
}

.table-list .active, .table-list .recovered, .table-list .deaths, .table-list .total-cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-list .active div, .table-list .active p, .table-list .recovered div, .table-list .recovered p, .table-list .deaths div, .table-list .deaths p, .table-list .total-cases div, .table-list .total-cases p {
  justify-self: flex-start;
}

.table-list .active .active-plus-data, .table-list .recovered .active-plus-data, .table-list .deaths .active-plus-data, .table-list .total-cases .active-plus-data {
  color: white;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  padding: .3rem .6rem;
  border-radius: .2rem;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

footer {
  padding: 2.5rem 0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li p {
  font-size: 1.4rem;
}

footer ul li a {
  text-decoration: underline;
  font-weight: 500;
}

footer ul li a:visited {
  color: inherit;
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

.about-container {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container .about-text {
  width: 45%;
  padding: 2rem;
  z-index: 1;
}

.about-container .about-text .dash {
  position: relative;
  width: 5rem;
  height: .3rem;
  margin: 2rem 0;
  -webkit-animation: fillWidth .5s;
          animation: fillWidth .5s;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.about-container .about-text h2 {
  position: relative;
  font-size: 3.8rem;
  font-weight: 700;
  -webkit-animation: fadeFromTop .5s;
          animation: fadeFromTop .5s;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.about-container .about-text .about-project-title {
  margin-top: 6rem;
}

.about-container .about-text p {
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  -webkit-animation: fadeFromLeft .5s;
          animation: fadeFromLeft .5s;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.about-container .about-text p span {
  font-weight: 600;
}

.about-container .about-text p a {
  text-decoration: underline;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.about-container .about-text p a:visited {
  color: inherit;
}

.about-container .about-svgs {
  width: 55%;
  height: 50rem;
  z-index: 0;
  position: relative;
}

.about-container .about-svgs .about-blob-back, .about-container .about-svgs .about-blob-front, .about-container .about-svgs .about-computer {
  position: absolute;
}

.about-container .about-svgs .about-blob-back path, .about-container .about-svgs .about-blob-front path, .about-container .about-svgs .about-computer path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.about-container .about-svgs .about-blob-back {
  bottom: -17rem;
  right: 10rem;
  -webkit-animation: fadeFromRight .5s;
          animation: fadeFromRight .5s;
}

.about-container .about-svgs .about-blob-front {
  bottom: 2rem;
  right: 10rem;
  -webkit-animation: fadeFromRight .4s;
          animation: fadeFromRight .4s;
}

.about-container .about-svgs .about-computer {
  bottom: 0rem;
  right: 10rem;
  -webkit-animation: fadeFromRight .55s;
          animation: fadeFromRight .55s;
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

/* light theme */
/* dark theme */
/* font */
/* width */
/* flex */
/* background-image */
/* transitions */
/* animations */
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    left: -5rem;
  }
  100% {
    opacity: 1;
    left: 0rem;
  }
}

@keyframes fadeFromTop {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0rem;
  }
}

@keyframes fillWidth {
  0% {
    width: 0rem;
  }
  100% {
    width: 5rem;
  }
}

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    right: 0rem;
  }
  100% {
    opacity: 1;
    right: 10rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */